html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  border-style: none; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box; }

body {
  font-family: "Montserrat", sans-serif; }

section {
  max-width: 1800px;
  margin: 0 auto; }

.container {
  position: relative;
  width: 100%;
  padding: 0 15px 0 15px;
  max-width: 1170px;
  margin: 0 auto; }

.carousel__wrapper {
  max-width: 1800px;
  overflow: hidden; }

/* Navigation */
#nav {
  max-width: 1800px;
  background-color: #000000; }

.navbar {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  line-height: 74px; }
  .navbar__list > li {
    border-bottom: 5px solid #000000; }
  .navbar__list > li:hover {
    border-bottom: 5px solid #b88b58; }

.navbar__list--item {
  font-size: 0.8235294118rem;
  padding: 0 10px;
  color: #ffffff;
  text-transform: uppercase; }

/* Hero */
#hero {
  position: relative; }

/* Carousel */
.carousel__wrapper {
  position: relative;
  max-width: 1800px; }

.carousel__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.carousel__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100vw;
          flex: 1 0 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0 50px 0;
  width: 100vw;
  max-width: 1800px; }

.first {
  background: url(../images/hero-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100vw;
          flex: 1 0 100vw; }

.second {
  background: url(../images/hero-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100vw;
          flex: 1 0 100vw; }

.third {
  background: url(../images/hero-3.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100vw;
          flex: 1 0 100vw; }

.hero__item {
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.hero__item--title {
  font-size: 3.8235294118rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff; }
  .hero__item--title span {
    color: #b88b58; }

.hero__item--text {
  padding: 3% 0 6% 0;
  font-size: 1.1176470588rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #ffffff; }

.button {
  padding: 16px 48px;
  border-radius: 30px;
  background-color: #b88b58;
  font-size: 0.7058823529rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer; }
  .button:hover {
    background-color: #E5AD6E; }

/* Bullets */
.bullets {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 5%; }

.bullets__list {
  font-size: 0;
  cursor: pointer; }

.bullets__list--item {
  display: inline-block;
  height: 13px;
  width: 13px;
  margin-left: 9px;
  border-radius: 50%;
  border: 2px solid #b88b58; }
  .bullets__list--item:hover {
    background-color: #b88b58; }

.active {
  background-color: #b88b58; }

/* Phone icon */
.phone-icon {
  height: 70px;
  width: 70px;
  position: absolute;
  z-index: 1;
  bottom: -35px;
  right: 4%;
  cursor: pointer; }
  .phone-icon:hover {
    -webkit-filter: brightness(115%);
            filter: brightness(115%); }

/* Section titles */
.section__title {
  text-align: center;
  text-transform: uppercase; }

.section__title--heading {
  font-size: 1.7647058824rem;
  font-weight: 700;
  color: #000000; }

.section__title--text {
  font-size: 0.8235294118rem;
  padding-top: 10px;
  color: #aeaeae; }

.white {
  color: #ffffff; }

/* Aobut Us */
#About-Us {
  padding: 50px 0 50px 0;
  background-color: #f7f7f7; }

.About-Us__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px; }

.About-Us__info {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-right: 2%; }

.About-Us__info--text {
  padding-bottom: 5%;
  font-size: 0.8823529412rem;
  line-height: 25px;
  font-weight: 300;
  color: #242424; }

/*Service */
#Service {
  padding: 50px 0 50px 0;
  background-color: #000000; }

.Service__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3%; }

.Service__item {
  border-left: 1px solid #bebebe;
  text-align: center; }
  .Service__item:last-child {
    border-right: 1px solid #bebebe; }

.Service__item--icon {
  height: 60px;
  width: 60px; }

.Service__item--title {
  padding-top: 11%;
  font-size: 1.0588235294rem;
  text-transform: uppercase;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff; }

.Service__item--text {
  padding-top: 1%;
  font-size: 0.7058823529rem;
  line-height: 24px;
  font-weight: 300;
  color: #7e7e7e; }

/*Project */
#Project {
  padding: 50px 0 50px 0;
  background-color: #f7f7f7; }

.Project-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

/*nav gallery */
.nav-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px; }

.nav-gallery__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  border-left: 1px solid #aeaeae;
  background-color: #ededed;
  cursor: pointer; }
  .nav-gallery__item:first-child {
    padding-left: 30px;
    border-left: none;
    border-radius: 42% 0 0 42%; }
  .nav-gallery__item:last-child {
    padding-right: 31px;
    border-radius: 0 42% 42% 0; }

.nav-gallery__button {
  margin: 0 5px;
  padding: 30px 30px 20px 30px;
  border-bottom: 5px solid #ededed;
  background-color: #ededed; }
  .nav-gallery__button:hover {
    margin: 0 5px;
    border-bottom-color: #b88b58; }

.active-button {
  border-bottom-color: #b88b58; }

/* gallery */
.gallery {
  text-align: center;
  margin-top: 25px;
  width: 100%; }

.gallery__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.gallery__title {
  width: 100%;
  padding: 3% 0 3% 0;
  text-align: center;
  font-size: 1.7647058824rem;
  font-weight: 300;
  color: #000000; }

.gallery__item {
  margin: 1%; }

.gallery__item--photo {
  position: relative;
  cursor: pointer; }
  .gallery__item--photo:hover .photo__layer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.photo__layer {
  display: none;
  position: absolute;
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 165px;
  width: 255px;
  background-image: url(../images/colored.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff; }

.photo__layer--title {
  font-size: 1.1764705882rem; }

.photo__layer--text {
  font-size: 0.8235294118rem;
  line-height: 23px;
  text-align: center;
  font-weight: 300;
  padding-top: 12px; }

#gallery__button {
  margin-top: 2%; }

/* Our Team */
#Our-Team {
  padding-top: 50px;
  background: url(../images/bg-our-team.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.Our-Team__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 15px 25px 15px;
  height: 435px;
  width: 353px;
  background: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.Our-Team__wrapper {
  width: 100%;
  text-align: center; }

.Our-Team__card--person {
  margin: 10% 0 4% 0;
  font-size: 1.2352941176rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #242424; }

.Our-Team__card--person-position {
  margin: 0 0 10% 0;
  font-size: 0.8823529412rem;
  color: #242424; }

.fab {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  line-height: 35px;
  background-color: #bebebe;
  font-size: 15px;
  text-align: center;
  color: #ffffff; }
  .fab:hover {
    background-color: #b88b58; }

/* Happy Clients */
#Happy-Clients {
  padding-top: 50px;
  max-width: 1800px;
  background-color: #f7f7f7; }

.Happy-Clients__wrapper {
  max-width: 720px;
  margin-bottom: 25px;
  text-align: center; }

.Happy-Clients__person {
  margin: 4% 0 2% 0;
  font-size: 1.4117647059rem;
  font-weight: 700; }

.Happy-Clients__person-position {
  margin-bottom: 4%;
  font-size: 1.0588235294rem;
  font-weight: 400; }

.fa-quote-left {
  font-size: 1.4117647059rem;
  color: #7e7e7e; }

.Happy-Clients__quote {
  margin-top: 1.5%;
  font-size: 0.9411764706rem;
  line-height: 25px;
  color: #7e7e7e; }

.client-logo {
  border-top: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
  background: #ffffff; }

.client-logo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 125px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

/* Price */
#Price {
  padding: 50px 0 50px 0;
  background-color: #ededed; }

.product-card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px; }

.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 265px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff; }

.product-card__title {
  padding-top: 9%;
  padding-bottom: 5%;
  font-size: 0.8235294118rem;
  text-transform: uppercase; }

.product-card__price {
  font-size: 1.5882352941rem;
  font-weight: 700;
  color: #242424; }

.product-card__period {
  padding-top: 1%;
  padding-bottom: 5%;
  font-size: 0.5882352941rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #aeaeae; }

.product-card__service {
  font-size: 0.8235294118rem;
  line-height: 13px;
  color: #7e7e7e; }

.product-card__border {
  padding-bottom: 3%;
  font-size: 0.8235294118rem;
  line-height: 13px;
  color: #7e7e7e; }

.product-card__button {
  margin-top: 8%;
  margin-bottom: 9%;
  padding: 15px 40px;
  border-radius: 30px;
  background-color: #373737;
  font-size: 0.9411764706rem;
  color: #ffffff;
  cursor: pointer; }
  .product-card__button:hover {
    background-color: #b88b58; }

.Price-carousel {
  margin-top: 50px;
  border-top: 1px solid #cfcfcf;
  background-color: #ffffff; }

.product-item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.product-item__service--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.product-item__service--feature {
  max-width: 500px; }
